
<nav class="navbar navbar-dark bg-dark">
    <h1>SHOPBRIDGE</h1>
</nav>
<app-admin-page></app-admin-page>
<div class="footer">
    <div class="row">
    <div class="col-sm-2">
        <img src="../assets/logo-footer.png" alt="logo">
    </div>
    <div class="col-sm-7">
        <h3>CONTACT US</h3>
        <p>198 West 21th Street, Suite 721
            Email: youremail@yourdomain.com</p>
            <p> Fax: +88 (0) 202 0000 001</p>
    </div>
    <div class="col-sm-3">
        <h3>MORE LINKS</h3>
            <a href="">Home Presentation</a><br>
            <a href="">Custom Image Title</a><br>
            <a href="">Custom Fonts Style</a><br>
            <a href="">Parallax Sections</a><br>
    </div>
</div>
    </div>

